@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #023047;
  --foreground: white;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
