@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-base: 'Schoolbell', cursive;
  --default-font-family: var(--font-base);
}

:root {
  --background: #023047;
  --foreground: white;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
